header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
*{
    color: white;
}
body{
    background: black;
}

.navigation ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navigation ul li{
    padding: 15px;
}
ul li {
    list-style: none;
}
li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
}
li a:hover{
    background-color: yellow;
    border-radius: 15px;
    transition: 0.5s;
    color: black;
}
li a.active{
    border-bottom: 3px solid white;
}

li a:hover{
    border-color: transparent;
}
.logo{
    margin: 20px;
    padding-left: 20px;
}
.assurance{
    color: white;
    margin: 20px;
    padding: 20px;
    font-size: 40px;
    font-weight: 100;
    font-family: 'Outfit', sans-serif;
    margin-top: 70px;
}
*{
    font-family: 'Outfit', sans-serif; 
}
button a{
    text-decoration: none;
    color: black;
}
.bodyshape{
    font-weight: 700;
    font-size: 48px;
    font-family: 'Outfit', sans-serif;
}
.creservoir{
    position: relative;
    top: 80px;
}
#home1{
    float: right;
    margin-right: 20px;
    padding-right: 20px;
}
.text{
    margin-left: 20px;
    padding-left: 20px;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
}
.click{
    margin: 20px 20px 20px 30px;
    padding: 20px;
    background-color: transparent;
    color: white;
    border: 1px solid yellow;
    border-radius: 25px;
    width: 20%;
    font-weight: 600;
    font-size: 20px;
}
.click:hover{
    background-color: #ffed00;
    color: black;
    transition: 0.7s ease-in-out;
    border: none;
}
.programme{
    font-size: 25px;
    font-weight: 600;
    margin: 20px;
    padding: 20px;
    clear: both;
}
.flop-conservoir{
    display: flex;
    padding: 20px;
    margin: 20px;
    position: relative;
}
.ironlady{
    margin: 20px;
    width: 200px;
    opacity: 0.3;
}
.flop-conservoir p{
    writing-mode: vertical-lr;
    rotate: -180deg;
    z-index: 1;
    position: absolute;
    font-size: 20px;
    font-weight: 600;
}
.Beginnerfriendly{
    left: 100px;
    bottom: 30vh;
}
.moderate{
    bottom: 30vh;
    left: 27%;
}
.weightloss{
    bottom: 30vh;
    left: 47%;
}
.Equipment{
    bottom: 30vh;
    right: 27%;
}
.training{
    bottom: 30vh;
    right: 100px;
}
.button{
    padding: 20psx;
    width: 80%;
    border: 1px solid yellow;
    background-color: black;
    margin-left: 25px;
    border-radius: 25px;
    font-weight: 700;
}
.button:hover{
    background: yellow;
    color: black;
    transition: 0.7s;
}
.store{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
}
.buy{
    font-size: 18px;
    font-weight: 700;
    color: yellow;
}
.love{
    padding: 20px;
    background: black;
    border: 1px solid yellow;
    border-radius: 25px;
    width: 15%;
    font-weight: 600;
}
.love:hover{
    background-color: yellow;
    color: black;
    transition: 0.7s;
}
.patriach{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    margin-left: 0;
}
.home5{
    z-index: 1;
    position: relative;
    top: -20px;
}
.rectangle{
    background-color: grey;
    position: absolute;
    width: 180px;
    height: 80px;
    margin-top: 30vh;
    margin-left: 90px;
}
.formulation1{
    background-color: grey;
    width: 180px;
    height: 80px;
    margin-top: 24vh;
    margin-left: 10px;
    position: absolute;
}
.formulation2{
    background-color: grey;
    width: 180px;
    height: 80px;
    margin-top: 24vh;
    margin-left: -35px;
    position: absolute;
}
.formulation3{
    background-color: grey;
    width: 180px;
    height: 80px;
    margin-top: 24vh;
    margin-left: 10px;
    position: absolute;
}
.instant{
    margin-right: 90px;
}
.gallery{
    font-size: 18px;
    font-weight: 700;
    color: yellow;
    margin: 20px;
    padding: 20px;
}
.flop{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
}
.home8{
    border-radius: 25px;
}
.flop1{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
}
.flop2{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    position: relative;
}
.recipe{
    left: 35%;
    top: 20%;
    position: absolute;
}
.recipe p{
    font-size: 10px;
    line-height: 1.5;
}
.recipe1{
    background: url(img/main-vector.png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-color: black;
    border: 1px solid yellow;
    padding: 20px 20px 20px 10px;
    width: 70%;
    border-radius: 20px;
    background-position-x: 120px;
    background-position-y: 20px;
    text-align: left;
    font-weight: 600;
}
.recipe1:hover{
    background-color: yellow;
    color: black;
    transition: 0.7s;
    background-blend-mode: difference;
}
.home13{
    display: flex;
    margin-bottom: 20px;
}
.home13 p{
    margin-top: 50px;
    font-size: 15px;
    font-weight: 600;
    margin-left: 20px;
}
.contactus{
    margin: 20px;
    padding: 20px;
}
.lorem{
    font-size: 13px;
    font-weight: 400;
}
.input-box{
    margin: 20px;
    padding: 20px;
    position: relative;
}
.image1{
    float: right;
    margin-right: 20px;
    padding-left: 20px;
}
#image1{
    border-radius: 50px;
}
.input input{
    width: 30%;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 25px;
    border: 1px solid yellow;
    background-color: black;
    line-height: 40px;
    padding-left: 30px;
}
.input input:focus{
    border: 2px solid yellow;
    outline: none;
}

::placeholder{
    text-align: left;
    color: white;
    line-height: 20px;
}
#input{
    height: 120px;
}
.saveur{
    clear: both;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 20px;
}
.last p{
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    text-align: center;
}
